*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(118,118,118);
}

.first{
   
   text-align: center;
   margin: 8rem;
   font-size: 30px;
   
}
p, li{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    margin: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    align-content: center;
}
.third{
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("images/change.jpeg");
    margin-top:70px;
    width: cover;
    height: 700px;
    background-size: cover;
    opacity:0.75;
    background-repeat: no-repeat;
    
    
    
    
   
}

/* .third:hover{
    background-color: rgb(163,153,141);
} */
/* @keyframes example {
    from {background-image:url("images/logo.png");}
    to {background-image:url("images/img10.jpeg");}
} */
@keyframes example {
    from{background-image:url("images/change.jpeg");}
    to  {background-image:url("images/change.jpeg");}

}
button{
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    background-color:rgb(184,112,96);
}
.fourth{
    
    background-color: rgb(118,118,118);
}
.contain{
    margin-left:10%;
}
.forms{
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    
}
input{
    margin: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.form1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
    width: 400px;
    height: 400px;
    background-color:rgb(163,153,141);
    
}
textarea{
    border-radius: 2px;
    margin: 10px;
  
}
.submit{margin:30px;
    border-radius: 8px;
    border:none;
    width:250px;
    padding:10px;
    background-color:rgb(184,112,96)}
.submit:hover{
    background-color:rgb(118,118,118);
}
.gal1{
    margin-top: 20px;
    width:400px;
    height: 400px;

}
.gal2{
    width: 350px;
    height: 400px;
}
img{
    margin: 10px;
}
.top{
    font-weight: bolder;
    font-size:20px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
/* .footer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    margin-left: 300px;
} */

h2{
    font-size: 20px;
}
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 720px;
    margin: 0 auto;
    background-color:rgb(184,112,96)
  }
   
  /* Style each of the sides
  with a fixed width and height */
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
   
  /* Add animation to the slides */
  .slide-wrapper {
     
  /* Calculate the total width on the
    basis of number of slides */
    width: calc(720px * 8);
   
  /* Specify the animation with the
    duration and speed */
    animation: slide 30s ease infinite;
  }
 
   
  /* Define the animation
  for the slideshow */
  @keyframes slide {
     
  /* Calculate the margin-left for
    each of the slides */
    20% {
      margin-left: 20px;
    }
   
    40% {
      margin-left: calc(-720px * 1);
    }
   
    50% {
      margin-left: calc(-720px * 2);
    }
   
    60% {
      margin-left: calc(-720px * 3);
    }
    70%{
        margin-left: calc(-720px * 4);
    }
    10%{
        margin-left: calc(-720px * 5);
    }
   
  }
  footer{
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 500px
  }
  .detail{
    margin: 20px;
  }
  .last{
    margin: 10px;
  }
  .copy{
    margin: 30px
  }
@media screen and (max-width:720px){
    .first{
        font-size: 20px;
        margin:0px;
        margin-top: 70px;
        
    }
  a{
    margin:8px;
    font-size: 10px;
  }
  nav{
    margin-top: 40px;
  }
  .third{
    background-repeat: no-repeat;
    width: 420px;
    height:400px
   
}
.form{
    margin-left: 50px;
    width: 200px;
    height: 400px;
}
.form1{
    margin-left: 50px;
    width: 200px;
    height:400px;
}
.forms{
    flex-direction: column;
}
.submit{
    margin: 30px;
    width:100px;
}
img{
    margin: 4px;
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contain{
    margin-left:0px;
    background-color:rgb(118,118,118) ;
}
#services{
    margin: 9px;
    font-size: 8px;
    font-weight: bolder;

}
.detail{
    font-size: 18px;
    margin: 0px;
    
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    margin-left: 40px;
}
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 420px;
    margin: 0 auto;
  }
.gal1{
    width:350px;
    height: 400px;
}
.bar5{
    margin: 5px;
}

.copy{
    margin: 0px;
}
.chat{
    display: none;
}
  }



